*{
    margin: 0;
    padding: 0;
}

.MainClass{

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.OuterBox{
    /* background: #252525; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 45vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contentBox{
    width: 30vw;
}

.titleBox{
    width: 30vw;
    color: #252525;
    margin-bottom: 2rem;
}