/* BookAppointmentCard.css */

.appointment-card {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: flex-start;
}



  .appointment-card h2 {
    color: black;

  }
  .calendar-container {
    height: 300px;
    margin-bottom: 20px;
    color: black;
    overflow: visible;
  }
  
  .time-slots-container {
    margin-bottom: 20px;
  }
  
  .time-slot {
    cursor: pointer;
    padding: 8px;
    margin: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .time-slot.selected {
    background-color: #3498db;
    color: #fff;
  }
  
  .book-button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .book-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .react-calendar__tile {
    color: black;
  }

.react-calendar__navigation {
  color: black;
}

.react-calendar__navigation button {
  color: black; 
}

.react-calendar__navigation {
  opacity: 1; 
}

.react-calendar__navigation button {
  opacity: 1; 
}

  